[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "~=1.0.0"
sphinx = "~=1.8.4"
sphinx-rtd-theme = "~=0.4.3"
pytest = "~=4.3.1"

[packages]
pyyaml = "~=5.1"

[requires]
python_version = "3.7"
